* { 
    /* border: 1px dashed blue; */
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}


body {
    background: #e4ebf5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    position: relative;
    background: #fafafa;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    font-size: 14px;
    box-shadow: 2px 2px 20px 0px #e0e0e0;
    font-family: "Microsoft YaHei UI Light";
}
.container img { 
    transform: translateX(-15px);
    width: 60%;

}

.logo {
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(62, 77, 214), rgb(190, 72, 108));
}


.row { margin-top: 20px; }


.form-control {
    position: relative;
    /* border: 1px dashed blue; */
    margin-top: 20px;
    padding-bottom: 0px;
}
.form-control i {
    position: absolute;
    color: #333;
    font-size: 18px;
    top: 50%;
    left: 10px;
}
/* .form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
} */
form label {
    display: inline-block;
    font-size: 14px;
}


.input {
    display: block;
    width: 100%;
    outline: none;
    padding: 10px 35px;
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #333;
    
    transition: .2s;
    /* background-color: #DEE3E7;
    background: rgba(47, 161, 218,0.1); */
    background: hsl(0, 0%, 95%);
}
.input:focus, .input:focus {
    background-color: hsl(0, 0%, 90%);
}
.input:hover, .input:hover {
    background-color: hsl(0, 0%, 90%);
}
/* .input:valid {
    border: 2px solid #2ecc71;
}
.input:invalid {
    border: 2px solid #e74c3c;
} */


input#login, #signup {
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
  
    background: rgba(160, 142, 240, 0.6);
    color: hsla(251, 77%, 20%, 0.6);
    transition: .8s;
    width: 100%
}
input#login:hover, #signup:hover {
    cursor: pointer;
    background: #2c92c5e0;
}



hr {
    border: 1px solid rgba(160, 142, 240, 0.6);
    opacity: .4;
}
span {
    font-size: 14px;
    color: #333;
}
span a {
    color: grey;
}


#signup-container {
    position: absolute;
    display: none;
    top: 0; right: 0; bottom: 0; left: 0;
    background: inherit;
    border-radius: inherit;
    padding: inherit;
}
